<div class="landing">
    <section class="home-screen">
        <div class="header flex-between">
            <div class="logo">LOGO</div>
            <div class="nav-links">
                <a
                    href="#"
                    class="nav-link"
                >
                    HOME
                </a>
                <a
                    href="#"
                    class="nav-link"
                >
                    FEATURES
                </a>
                <a
                    href="#"
                    class="nav-link"
                >
                    INFO
                </a>
                <a
                    href="#"
                    class="nav-link"
                >
                    SCREENSHOTS
                </a>
                <a
                    href="#"
                    class="nav-link"
                >
                    BLOG
                </a>
                <a
                    href="#"
                    class="nav-link"
                >
                    PRESS KIT
                </a>
                <button class="download-btn">DOWNLOAD</button>
            </div>

        </div>
        <div class="carousel-wrap">
            <ngb-carousel *ngIf="slides">
                <ng-template ngbSlide>
                    <img [src]="'../assets/misc/' + slides[0].imageName">
                    <div class="carousel-caption">
                        <h3>{{slides[0].title}}</h3>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <img [src]="'../assets/misc/' + slides[1].imageName">
                    <div class="carousel-caption">
                        <h3>{{slides[1].title}}</h3>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </section>
    <section class="download">
        <h3 class="welcome">
            Download this
            <span class="highlight-text">awesome</span>
            app
        </h3>
        <span>
            AVAILABLE ON ALL MODERN OERATING SYSTEMS
        </span>
        <div class="store-buttons">

            <div class="store-btn g-play">
                <div class="store-icon"></div>
                <div class="store-description">
                    <span class="system-type">ANDROID APP ON</span>
                    <br>
                    <span class="store-name">Google Play</span>
                </div>
            </div>
            <div class="store-btn g-m-app-store">
                <div class="store-icon"></div>
                <div class="store-description">
                    <span class="system-type">DESKTOP APP ON</span>
                    <br>
                    <span class="store-name">Mac App Store</span>
                </div>
            </div>
            <div class="store-btn g-app-store">
                <div class="store-icon"></div>
                <div class="store-description">
                    <span class="system-type">IOS APP ON</span>
                    <br>

                    <span class="store-name">App Store</span>
                </div>
            </div>
        </div>
    </section>
    <section class="features"></section>
    <section class="status"></section>
    <section class="tweets"></section>
    <section class="footer"></section>
</div>
