    .landing {
        .home-screen {
            background-image: url(../assets/misc/hero.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            color: #fff;
            padding: 20px 5% 0;

            .header {
                .nav-links {
                    display: flex;

                    a {
                        color: #fff;
                    }

                    .download-btn {
                        border: 1px solid rgba(255, 255, 255, 0.2);
                        border-radius: 20px;
                        width: 200px;
                        background: none;
                        color: #23c063;
                    }
                }
            }

            .carousel {
                margin: auto;

                .carousel-caption {
                    bottom: 0;
                }

                img {
                    margin: auto;
                    width: 100%;
                    margin-top: 200px;
                }
            }

        }

        .download {
            background-color: #f5f5f5;
            text-align: center;

            .store-description {

                .system-type {}

                .store-name {}


            }

            .store-buttons {
                display: flex;
                justify-content: center;

                .store-btn {
                    cursor: pointer;
                    background-color: #fff;
                    padding: 20px;
                    margin: 20px 20px 0;
                    min-width: 250px;
                    border-radius: 2px;
                    text-align: left;
                    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.19);

                    .store-icon {
                        width: 50px;
                        height: 50px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        margin-right: 10px;
                    }
                }
            }

            .g-play {
                display: flex;

                .store-icon {
                    background-image: url(../assets/icons/google-play.png);
                }
            }

            .g-m-app-store {
                display: flex;

                .store-icon {
                    background-image: url(../assets/icons/mac-app-store.png);
                }

            }

            .g-app-store {
                display: flex;

                .store-icon {
                    background-image: url(../assets/icons/app-store.png);
                }
            }
        }
    }

    .highlight-text {
        color: #23c063;
    }

    @media screen and (min-width: 720px) {
        .carousel {
            width: 65%;

            .carousel-caption {
                top: 130px;
            }
        }

        .download {
            padding: 100px 0;
            height: 380px;

        }
    }

    @media screen and (max-width: 720px) {
        .nav-link {
            display: none;
        }

        .carousel {
            width: 100%;

            .carousel-caption {
                top: 10px;
            }
        }

        .download {
            padding: 40px 20px;

            .store-buttons {
                flex-direction: column;
            }
        }
    }
